# docker
Dockerfile
.dockerignore

# dependencies
node_modules

# next.js
.next
/out/

# pre-commit
.husky
lintstagedrc.js

# debug
npm-debug.log
yarn-debug.log
yarn-error.log

# tests
jest.config.js
jest.setup.ts
playwright.config.ts
*/__tests__/
*/e2e
/coverage

# markdown files
README.md
CHANGELOG.md
